<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #007bff;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

</style>
</head>
   <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <a class="navbar-brand" href="#">BachatGat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>     
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ">
            <li class="nav-item">
              <a class="nav-link" href="\app_admin">Dashboard </a>
            </li>
            <li class="nav-item active dropdown ">
                <a class="nav-link dropdown-toggle" href=""  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Member<span class="sr-only">(current)</span>
                </a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="dropdown-menu" >
                  <a class="dropdown-item" href="{% url 'register' %}">Register Member</a>
                  <a class="dropdown-item" href="">Know Your Member</a>
                </div>
              </li>
          </ul>
        </div>
    </nav>


<body>
    <div class="app-body">
    <div class="container-fluid">
    <div class="animated fadeIn py-4">    
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Member Personal Info
                </div>
                <div class="card-body">
                    <tbody>
                        <tr>
                            <td><b>Name</b>: {{ profile.name }}</td>
                            <br>
                            <td><b>Email:</b> {{ profile.email }}</td>
                            <br>
                            <td><b>Mobile No:</b> {{ profile.mobile }}</td>
                            <br>
                            <td><b>Aadhar No:</b> {{ profile.aadhar_no }}</td>
                            <br>
                            <td><b>Pan No:</b> {{ profile.pan_no }}</td>
                            <br>                           
                            <td><b>Birthdate:</b> {{ profile.birthdate }}</td>
                            <br>
                            <td><b>Address:</b> {{ profile.address }},{{ profile.city }}-{{ profile.zip }} ,{{ profile.state }}</td>
                            <br>
                        </tr>
                    </tbody>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Member Accounts Info
                </div>
                <div class="card-body">
                    <tbody>
                        <tr>
                            <td><b>Account No</b>: {{ profile.account }}</td>
                            <br>
                            <td><b>Total savings balance:</b> {{ single_student.admission_date }}</td>
                            <br>
                            <td><b>Total Loans Taken:</b> {{ single_student.admission_id }}</td>
                            <br>
                            <td><b>Total outstanding:</b> {{ single_student.class_type }}</td>
                            <br>
                            <td><b>Missed monthly deposit:</b> {{ single_student.section_type }}</td>
                            <br>
                            <td><b>Total Repayments Made:</b> {{ single_student.shift_type }}</td>
                        </tr>
                    </tbody>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
    
   
</body>
</html>
  

