<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #007bff;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

</style>
</head>
   <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <a class="navbar-brand" href="#">BachatGat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>     
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ">
            <li class="nav-item">
              <a class="nav-link" href="\app_admin">Dashboard </a>
            </li>
            <li class="nav-item active dropdown ">
                <a class="nav-link dropdown-toggle" href=""  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Member<span class="sr-only">(current)</span>
                </a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="dropdown-menu" >
                  <a class="dropdown-item" href="{% url 'register' %}">Register Member</a>
                  <a class="dropdown-item" href="">Know Your Member</a>
                </div>
              </li>
          </ul>
        </div>
    </nav>


<body>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Members List</div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Account No</th>
                                <th>Aadhar no</th>
                                <th>Pan no</th>
                                <th>Mobile no</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for profile in mymembers %}
                                <tr>
                                    <td class="text-center">{{ forloop.counter }}</td>
                                    <td>{{ profile.name }}</td>
                                    <td>{{ profile.account_no }}</td>
                                    <td>{{ profile.aadhar_no }}</td>
                                    <td>{{ profile.pan_no }}</td>
                                    <td>{{ profile.mobile }}</td>
                                    <td>{{ profile.email }}</td>
                                    <td class="text-center">
                                        <a href="#">
                                            <button type="button" class="btn btn-light border btn-sm"><i class="fa fa-eye text-dark"></i></button>
                                        </a>
                                        <a href="#">
                                            <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-edit text-white"></i></button>
                                        </a>
                                        <a href="#">
                                            <button type="button" class="btn btn-danger btn-sm" onclick="if(confirm('Are you sure to delete this student?') === false) event.preventDefault()"><i class="fa fa-trash"></i></button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   
</body>
</html>
  

